service:
  extensions: [jaeger_storage, jaeger_query]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter]

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch: {}

exporters:
  jaeger_storage_exporter:
    trace_storage: badger_store

extensions:
  jaeger_storage:
    backends:
      badger_store:
        badger:
          directories:
            keys: /var/lib/jaeger/keys
            values: /var/lib/jaeger/values
          ephemeral: false

  jaeger_query:
    storage:
      traces: badger_store
    ui:
      config_file: ""
