{
  "Servers": {
    "1": {
      "Name": "CP PostgreSQL",
      "Group": "Servers",
      "Host": "{{ ip_postgresql }}",
      "Port": {{ port_postgresql }},
      "MaintenanceDB": "{{ pg_db }}",
      "Username": "{{ pg_user }}",
      "PassFile": "/var/lib/pgadmin/.pgpass",
      "SSLMode": "prefer",
      "Shared": true
    }
  }
}
