jenkins:
  numExecutors: 2
  securityRealm:
    oic:
      clientId: "jenkins"
      clientSecret: "{{ vault_authelia_oidc_jenkins_secret }}"
      serverConfiguration:
        wellKnown:
          wellKnownOpenIDConfigurationUrl: "https://authelia.{{ base_domain }}/.well-known/openid-configuration"
      userNameField: "preferred_username"
      fullNameFieldName: "name"
      emailFieldName: "email"
      groupsFieldName: "groups"
      groupIdStrategy: "caseSensitive"
      userIdStrategy: "caseSensitive"
      logoutFromOpenidProvider: true
      postLogoutRedirectUrl: "https://jenkins.{{ base_domain }}/"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  views:
    - list:
        name: "{{ deploy_env }}"
        includeRegex: ".*"
        columns:
          - status
          - weather
          - jobName
          - lastSuccess
          - lastFailure
          - lastDuration
          - buildButton

{% set api_env_content %}
SPRING_PROFILES_ACTIVE={{ deploy_env }}
SERVER_PORT={{ port_api }}
POSTGRES_HOST={{ ip_postgresql }}
POSTGRES_PORT={{ port_postgresql }}
POSTGRES_DB={{ pg_db }}
POSTGRES_USER={{ pg_user }}
POSTGRES_PASSWORD={{ vault_pg_password }}
CACHE_HOST={{ ip_valkey }}
CACHE_PORT={{ port_valkey }}
CACHE_PASSWORD={{ vault_valkey_password }}
JWT_SECRET={{ vault_api_jwt_secret }}
JWT_ACCESS_TOKEN_VALIDITY_SECONDS=900
JWT_REFRESH_TOKEN_VALIDITY_SECONDS=604800
CRYPTO_SECRET_KEY={{ vault_api_crypto_secret_key }}
KAKAO_CLIENT_ID={{ vault_api_kakao_client_id }}
KAKAO_CLIENT_SECRET={{ vault_api_kakao_client_secret }}
KAKAO_REDIRECT_URI=https://api.{{ base_domain }}/oauth2/callback/kakao
CORS_ALLOWED_ORIGINS=https://api.{{ base_domain }}
LOKI_URL=http://{{ ip_monitoring }}:{{ port_loki }}/loki/api/v1/push
OTLP_ENDPOINT=http://{{ ip_monitoring }}:{{ port_jaeger_otlp_http }}/v1/traces
{% endset %}

credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:
              scope: GLOBAL
              id: "api-deploy-ssh"
              username: "root"
              description: "API deploy SSH key (CT 240)"
              privateKeySource:
                directEntry:
                  privateKey: {{ vault_jenkins_deploy_private_key | to_json }}
          - file:
              scope: GLOBAL
              id: "api-env"
              fileName: ".env"
              secretBytes: "{{ api_env_content | b64encode }}"
              description: "API environment variables (CT 240)"

jobs:
  - script: >
      pipelineJob('chaekpool-api') {
        description('Chaekpool API - Build, Test, Deploy')
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/PrintPoisoning/chaekpool-api.git')
                }
                branches('*/main')
              }
            }
            scriptPath('ci/Jenkinsfile')
          }
        }
      }

unclassified:
  location:
    url: "https://jenkins.{{ base_domain }}/"
