#!/bin/sh
# Jenkins wrapper script for supervise-daemon

export JENKINS_HOME="{{ jenkins_home }}"
export JAVA_HOME="/usr/lib/jvm/java-17-openjdk"
export CASC_JENKINS_CONFIG="{{ jenkins_home }}/casc.yaml"

cd "$JENKINS_HOME"
exec /usr/bin/java -Xmx1024m \
    -Djava.awt.headless=true \
    -Djenkins.install.runSetupWizard=false \
    -jar {{ jenkins_opt }}/jenkins.war --httpPort={{ port_jenkins }}
