global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:{{ port_prometheus }}"]

  - job_name: "kopring-actuator"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - "{{ ip_kopring }}:{{ port_kopring }}"

  - job_name: "loki"
    static_configs:
      - targets: ["localhost:{{ port_loki }}"]

  - job_name: "grafana"
    static_configs:
      - targets: ["localhost:{{ port_grafana }}"]
