apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: Loki
    orgId: 1
  - name: Jaeger
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    jsonData:
      exemplarTraceIdDestinations:
        - name: traceId
          datasourceUid: jaeger

  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://localhost:3100
    jsonData:
      derivedFields:
        - name: TraceID
          matcherRegex: "traceId=(\\w+)"
          url: "$${__value.raw}"
          datasourceUid: jaeger
          matcherType: label

  - name: Jaeger
    type: jaeger
    uid: jaeger
    access: proxy
    url: http://localhost:16686
    jsonData:
      nodeGraph:
        enabled: true
      tracesToLogsV2:
        datasourceUid: loki
        spanStartTimeShift: '-1m'
        spanEndTimeShift: '1m'
        filterByTraceID: true
        filterBySpanID: true
