global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "kopring-actuator"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - "10.1.0.140:8080"

  - job_name: "loki"
    static_configs:
      - targets: ["localhost:3100"]

  - job_name: "grafana"
    static_configs:
      - targets: ["localhost:3000"]
